body {
    font-family: "Roboto Condensed", serif;
    background-image: url('../images/blog-background.jpg');
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-size: 12px;
    font-weight: 200;
}

p {
    font-size: 16px;
    margin: 15px;
    content: " ¶ ";
    text-indent: 3ch;
    letter-spacing: 0.5px;
    line-height: 22px;
}

.theDecision {
    border-radius: 10px;
}

/* navbar */
.topnav {
    overflow: hidden;
    background-color: rgb(59, 59, 59);
    background-image: url('../images/blog-background.jpg');
    background-blend-mode: color-burn;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #ffffff;
    color: rgb(9, 5, 5);
}

/* container flex for mobile first */
/* Step 1: Set display to flex to make it mobile first */
.container {
    display: flex;
    flex-direction: column;
    
}
.content{
    background-color: #f2f2f2b4;
    margin: 0 5%;
    padding: 2%;
    border-radius: 20px;
}
.container2{
    color: #ddd;
    background-color: brown;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authorPhoto{
    width: 400px;
}
.footer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    text-align: center;
    justify-content: center;
    margin: 20px;
    color: rgb(56, 15, 23);
}

.pageName {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-size: 25px;
}

.social a{
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 15px;

    margin: 15px;
}

/* ------------------------------------Design for bigger screens---------------------------------------------- */
@media(min-width:900px) {
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p{
        padding: 0 25%;
    }

}