@import url(topnav.css);
@import url(core.css);
@import url(footer.css);


h1 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-size: 12px;
    font-weight: 200;
}

p {
    font-size: 16px;
    margin: 15px;
    content: " ¶ ";
    text-indent: 3ch;
    letter-spacing: 0.5px;
    line-height: 22px;
}

.theDecision {
    border-radius: 10px;
}

/* container flex for mobile first */
/* Step 1: Set display to flex to make it mobile first */
.container {
    display: flex;
    flex-direction: column;
    
}
.content{
    background-color: #f2f2f2b4;
    margin: 0 5%;
    padding: 2%;
    border-radius: 20px;
}
.container2{
    color: #ddd;
    background-color: brown;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authorPhoto{
    width: 400px;
}


.pageName {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-size: 25px;
}

.social a{
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 15px;

    margin: 15px;
}

.gabyCanada{
    background-image: url(../images/the-decision.jpg);
    color: #ddd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    padding: 2%;
}

/* ------------------------------------Design for bigger screens---------------------------------------------- */
@media(min-width:900px) {
    .container2{
        color: #ddd;
        background-color: brown;
        margin-top: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 15%;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 15%;
        background-color: #f2f2f2;
    }
    .container{
        background-color: #f2f2f2;
    }

}