.container {
    /* Step 1: Set display to grid */
    display: grid;
    /* Step 2: setup rows amd columns */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 300px 300px 300px 200px; */
    grid-template-rows: 150px 850px 50px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "sc sc ft ft ft ft ft ft";
    border: 2px solid rgb(0, 255, 153);
    grid-gap: 5px;
}

.box {
    /* width: 250px;
    height: 150px; */
    border: 1px solid rgb(250, 50, 50);
    background: #F8FA9D;
}

.header {
    /* row start/column start/ row end/ column end */
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
}

.social{
    grid-area: sc;
}