/* Importing top nav */
@import url(topnav.css);
/* core CSS for body, img and a */
@import url(core.css);
/* css for footer */
@import url(footer.css);

/* ------------------------MOBILE FIRST------------------------ */

h1 {
    color: rgb(61, 59, 59);
    font-size: 50px;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: rgb(0, 2, 1);
    font-variant: small-caps;
}

h3 {
    font-size: 12px;
    font-weight: 200;
}

.blogName {
    margin: 50px 0;
    color: rgb(2, 84, 30);
}

/* flex for mobile */
.container {
    /* Step 1: Set display to flex to make it mobile first */
    display: flex;
    flex-direction: column;
}

.box {
    /* border: 1px solid rgb(38, 0, 255); */
    background: #ffffff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/blog-background.jpg');
    background-size: cover;
}


/* grid for the posts */
.contentContainer {
    display: flex;
    flex-direction: column;
}

.blogPosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    background-color: #3e483955;
    border: 1px solid #8c8e8b55;
    border-radius: 2%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#postName {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    font-weight: 600;
    background-color: rgba(25, 27, 25, 0.333);
    border-radius: 5px;
    text-decoration: none;
}


/* ------------------------------------Design for intermediate screens---------------------------------------------- */
@media (min-width: 600px) and (max-width:900px) {

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: coral;
        background-blend-mode: color-burn;
        background-image: url('../images/blog-background.jpg');
        background-size: cover;
    }

}


/* ------------------------------------Design for bigger screens---------------------------------------------- */
@media(min-width:900px) {

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.02fr 1fr 0.02fr;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
        border: 2px solid rgb(43, 0, 255);
    }
    .box{
        border: 1px solid white;
        border: 2px solid rgb(255, 102, 0);
        }
    .header{
        grid-area:hd;
    }
    .footer{
        grid-area:ft;
    }
    .content{
        grid-area:main;
    }

    .contentContainer{
        display: flex;
        flex-direction: row;

    }


}
